# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build directories (if applicable)
dist/
build/

# Temporary files
.DS_Store
Thumbs.db

# IDE files (if using VSCode)
.vscode/
.idea/

# OS-specific files
*.swp
